{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <!--<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>-->
</header>

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">
    <section class="inner">
        <h1>Scaffolding</h1>

        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>

        <p>This is regular text in the body with paragraphs.</p>

        <div class="col-row">
            <div class="col one-quarter">
                <ul class="unstyled">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>
            </div>
            <div class="col one-quarter">
                <ul class="diamond-list">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>
            </div>
            <div class="col one-quarter">
                <ul class="disc-list">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>
            </div>
            <div class="col one-quarter">
                <ul class="square-list">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>
            </div>
        </div>
        <div class="col-row">
            <div class="col one-quarter">
                <ol class="numbered-list rounded">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ol>
            </div>
            <div class="col one-quarter">
                <ol class="numbered-list squared">
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ol>
            </div>
            <div class="col one-quarter">
                <ul class="icons-list rounded">
                    <li class="icon icon-rocket">List item</li>
                    <li class="icon icon-star-full">List item</li>
                    <li class="icon icon-wrench">List item</li>
                </ul>
            </div>
            <div class="col one-quarter">
                <ul class="icons-list squared">
                    <li class="icon icon-rocket">List item</li>
                    <li class="icon icon-star-full">List item</li>
                    <li class="icon icon-wrench">List item</li>
                </ul>
            </div>
        </div>
        <div class="col-row">
            <div class="col one-quarter">
                <h6>1/4 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim Sed at nibh ac.</p>
            </div>
            <div class="col three-quarters">
                <h6>3/4 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim. Sed at nibh ac ligula ornare bibendum sit amet id mi.
                    Sed suscipit id ligula id pulvinar. Nulla sit amet felis neque. Nulla sed ante sit amet magna
                    convallis eleifend nec ac libero. Pellentesque imperdiet cursus quam, eget condimentum purus congue
                    quis. Praesent pharetra magna in dignissim laoreet. Nulla volutpat lobortis fermentum. Maecenas id
                    neque rhoncus, auctor metus at, sollicitudin mauris. Donec in placerat sapien.</p>
            </div>
        </div>
        <div class="col-row">
            <div class="col one-half">
                <h6>1/2 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim. Sed at nibh ac ligula ornare bibendum sit amet id mi.
                    Sed suscipit id ligula id pulvinar. Nulla sit amet felis neque. Nulla sed ante sit amet magna
                    convallis eleifend nec ac libero. Pellentesque imperdiet cursus quam, eget condimentum purus congue
                    quis. Praesent pharetra magna in dignissim laoreet. Nulla volutpat lobortis fermentum. Maecenas id
                    neque rhoncus, auctor metus at, sollicitudin mauris. Donec in placerat sapien.</p>
            </div>
            <div class="col one-half">
                <h6>1/2 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim. Sed at nibh ac ligula ornare bibendum sit amet id mi.
                    Sed suscipit id ligula id pulvinar. Nulla sit amet felis neque. Nulla sed ante sit amet magna
                    convallis eleifend nec ac libero. Pellentesque imperdiet cursus quam, eget condimentum purus congue
                    quis. Praesent pharetra magna in dignissim laoreet. Nulla volutpat lobortis fermentum. Maecenas id
                    neque rhoncus, auctor metus at, sollicitudin mauris. Donec in placerat sapien.</p>
            </div>
        </div>
        <div class="col-row">
            <div class="col one-quarter">
                <h6>1/4 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. SSuspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim Sed at nibh ac.</p>
            </div>
            <div class="col one-quarter">
                <h6>1/4 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim Sed at nibh ac.</p>
            </div>
            <div class="col one-quarter">
                <h6>1/4 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim Sed at nibh ac.</p>
            </div>
            <div class="col one-quarter">
                <h6>1/4 Column</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus ullamcorper tristique.
                    Integer varius turpis vel gravida dignissim Sed at nibh ac.</p>
            </div>
        </div>


    </section>
</main>